<div class = "col-xs-6 col-xs-offset-3">	
	<div class = "box_container">
		<h1 class = "text-center">Instagram</h1>
		<p class = 'text-center'>Sign Up to see photos and videos from your friends</p>
	<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary center-block' %>
	</div>
	<div class = 'box_container'>
	<p>Have an account? <%= link_to 'Log in', new_user_session_path %></p>
	</div>
</div>