<% if !@posts.empty? %>
	<div class = "feeds col-xs-6 col-xs-offset-3">
		<%= render @posts %>
	</div>
<% else %>	
	<% if user_signed_in? %>
		No Feeds Available Yet.
	<% else %>
		<%= render 'landing' %>
	<% end %>
<% end %>