<% post.comments.recent.each do |comment| %>
	<p>
		<%= link_to comment.user do %>
			<strong><%= comment.user.username %></strong>
		<% end %>
		<span class = "comment"><%= comment.comment %></span>
		<% if comment.user_id == current_user.id || post.user_id == current_user.id %>
		<%= render partial: 'comments/destroy', object: comment, as: 'comment' %>		
		<% end %>
	</p>
<% end %>