<div class = "user">
	<div class = "profile_picture">
		<%= image_tag(user.profile_picture.url) %>
	</div>
	<div class = "details">
		<p><%= user.username %></p>
	</div>
	<div class = "time"><%= time_ago(time) %></div>
</div>