/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Satisfy);

body {
	background-color: #fafafa;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 36px;
}

.navbar {
	background-color: white;
	padding: 12px 15px;

	.nav-container {
		margin: 0 auto;
		max-width: 920px;

		a {
			span {
				font-size: 16px;
			}
		}
	}

	.navbar-header {
		a {
			color: black;

			&:hover {
				color: black;
			}
		}

	}

	.navbar-brand {
		font-family: 'Satisfy', cursive;
		font-size: 24px;
	}

	& > .container-fluid .navbar-brand {
		margin-left: 30px;
	}
}

.box_container {
	background-color: white;
	border-radius: 15px;
	border: 1px solid #B3B3B3;
	padding: 12px 15px;
}

.user_basic_info {
	padding: 12px 15px;
	display: flex;
	align-items: center;

	.profile_picture {
		margin-right: 12px;
		flex-grow: 0;

		img {
			width: 30px;
			height: 30px;
			border-radius: 100%;
		}
	}

	.details {				
		flex-grow: 2;

		p {
			margin: 0;
		}
	}

	.time {
		color: #999999;
		flex-grow: 0;
	}
}

.post {
	border: 1px solid #E6E6E6;
	border-radius: 3px;
	background: white;
	margin-bottom: 45px;	

	.image {
		position: relative;

		.like {
			position: absolute;
			color: white;
			font-size: 5em;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);

			&.show { 
				opacity: 1;
			}

			&.hide {				
				opacity: 0;
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	.post_details {
		padding: 12px 15px;

		[id^="comment_section"] {
			a {
				color: black;

				&.delete {
					color: #B3B3B3;
				}

				&:hover {
					color: black;
					text-decoration: none;
				}
			}

			p {
				display: flex;

				strong {
					flex-grow: 0;
					margin-right: 4px;
				}

				.comment {
					flex-grow: 2;
				}
				
				.a {
					flex-grow: 0;
				}

				.delete:before {
					content: '\2715';
				}
			}			
		}
	}

	[id^="user_action"] {
		position: relative;
		left: 0;
		width: 100%;		
		padding: 12px 15px;		
		border-top: 1px solid #efefef;
		display: flex;
		align-items: center;

		.new_comment {
			display: inline-block;
			margin-left: 12px;
			flex-grow: 2;

			.field {
				margin: 0;
			}
			
			.comment_input {
				padding: 6px 12px;
				width: 100%;
				border: none;

				&:focus {
					outline-style: none;
				}
			}
		}

		[id^="like_button"] {
			flex-grow: 0;
			.glyphicon-heart {
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
			.liked {
				color: #FF6666;
			}
			.unliked {
				color: white;
			}
		}			
	}
}




