.posts {

	.post {
		.left {
			position: relative;
			top: 0; left: 0;
			width: 60%;
		}

		.right {
			position: absolute;
			top: 0; left: 60%;
			width: 38%;
		}	

		[id^="user_action"] {
			position: absolute;
			bottom: 10%; left: 60%;
			padding-left: 15px;
			width: 38%;
		}
	}
}
