// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	text-align: center;
}

.box_container {
	margin-bottom: 24px;
	padding: 12px 72px !important;
}

