// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static_pages {
	.box_container {
		background-color: #FAFAFA;
	}
	
	.home {
		img {
			width: 100%;
		}
	}

	.sign-up {
		padding-top: 15%;
		padding-bottom: 15%;
	}
}


