// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
	max-width: 920px;

	.user {
		margin-bottom: 45px;

		.profile_picture {
			display: inline-block;
			width: 39%;

			img {
				width: 150px;
				height: 150px;
				border-radius: 100%;
			}

		}

		.details {
			display: inline-block;
			width: 59%;

			h3 {
				display: inline-block;
			}
			.btn {
				display: inline-block;
			}
		}
	}

	.posts {

		a {
			color: white;

			&:hover {
				color: white;
			}
		}

		.post {
			position: relative;
		}

		.col-xs-4 {
			padding: 1%;

			img {
				display: block;
				width: 100%;
			}

			&:hover .bg-features {
				opacity: 1;
			}
		}

		.bg-features {
			position: absolute;
			top: 3%; left: 3%;
			width: 94%;
			height: 94%;
			background-color: rgba(0,0,0,0.5);
			opacity: 0;

			.features {
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%, -50%);


				.comments, .likes {
					display: inline-block;
					padding: 8px;
					font-size: 18px;
				}
			}
		}
	}

}


